<div class="banner" style="background-image: linear-gradient(-225deg, rgba(150,50,0,0.1) 0%, rgba(120,0,0,0.1) 50%), url('http://kitt.lewagon.com/placeholder/cities/berlin');">
  <div class="banner-content">
    <h1>Le Wagon Berlin</h1>
    <p>Learn to code with us in Berlin</p>
    <a class="btn btn-primary btn-lg">Start now</a>
  </div>
</div>
