<!-- Access data.flats with owner's name as key -->
<% users = data.users[owner] %>

<!-- Inject flat data in template -->
<%= image_tag "https://kitt.lewagon.com/placeholder/users/#{owner}", class: "img-circle" %>
<p><%= users.name %></p>
<h1><%= users.description %></h1>
<p><%= users.city %></p>
