#team {
  height: 642px;
  color: $white;
  display:flex;
  align-items: center;
  justify-content: center;
  h1 {
    display: block;
    margin-bottom: 30px;
  }
  i {
    color: $light-pink  ;
  }
  h2 {
    font-size: 17px;
  }
  a {
    color: rgba($white,0.25);
    font-weight: bold;
    letter-spacing: -0.5px;
    font-size: 15px;
  }
}
